{% extends "main.html" %}
{% block content %}
{%include "header.html" %}

<!--Flash message for letting user know login was successful-->
{%with messages = get_flashed_messages() %}
{% if messages %}

{% for message in messages %}
    <div class="alert alert-danger" role="alert">
        <strong>{{message}}</strong>
    </div>
{% endfor %}

{% endif %}
{% endwith %}

<div class="row">
    <div class="col-sm-4"><h1><u>Categories</u></h1>
        <ul>
            {% for category in categories %}
                <li><a href='{{url_for("showCategoryBooks", category_name = category.name, category_id = category.id) }}'>{{category.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="col-sm-8"><h1><u>Books</u></h1>
        <ul class="list-unstyled">
            {% for book in books %}
                <li><a href='{{url_for("showBookDescription", book_id = book.id) }}'>{{book.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}